*
{
    background-color: rgb(65, 50, 50);
}
#canvas
{
    /* width: 800px;
    height: 500px; */
    border : 20px solid #33cc33;
    border-radius: 30px;
    margin : 19px 250px;
    background : #ddd; 
    display: none;
}
.btn-jouer
{
    background-color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 320px;
    background-color: #33cc33;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(206, 203, 203);
    padding: 10px 30px;
}

.jouer
{
   color: rgb(206, 203, 203);   
   border: 20px solid #33cc33;
   height: 500px;
   width: 800px;
   border-radius: 30px;
   margin : 19px 250px;
  }
  h1 
  {
   text-align: center ;
   font-size: 40px;  
  }
  p
  {
      margin: 40px;
      font-size: 20px;
  }
  .container p
  {
      text-align: center;
      color: rgb(173, 173, 173);
      font-size: 15px;
  }